@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Berkshire+Swash&family=Big+Shoulders+Display:wght@100..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lexend+Deca:wght@100..900&family=Nosifer&family=Satisfy&family=Teachers:ital,wght@0,400..800;1,400..800&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Freeman&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Young+Serif&display=swap');
:root {
    --bg-color: #393737;
    --red-color:red ;
    --color-white: white;
}

body {
    font-family: "Teachers", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    padding: 100px 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Freeman", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 0;
}


/* ------------------------ Header Section Start -------------------->  */
.main-header nav {
    padding: 16px 0px;
    font-size: 16px;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navbar-nav li a {
    margin: 0 14px;
}

.navbar-toggler:focus {
    box-shadow: none;
    border: 0px;
}

.navbar-toggler {
    box-shadow: none;
    outline: 0;
    border: 0px;
}

.hover-line::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--red-color);
    transition: width 0.5s;
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.show {
    color: var(--red-color);
    transition: all 0.3s ease-in-out;
}

.hover-line:hover::after {
    width: 100%;
    transition: width 0.5s;
}

.main-bg nav {
    background: var(--bg-color);
}

.main-bg {
    background: var(--bg-color);
}

/* <------------------------ Header Section End -------------------->  */

/* <------------------------ Banner Section Start ------------------------> */

.banner-heading h1 {
    font-size: 62px;
    margin-bottom: 22px;
}

.banner-heading p {
    font-size: 18px;
    margin: 22px 0px 22px 0px;
    text-align: justify;
}

.custom-buttons button {
    font-size: 18px;
    padding: 13px 26px;
    border: 0px;
    border-radius: 8px;
    letter-spacing: 1px;
    background-color: var(--red-color);
    color: var(--color-white);
    transition: all 0.3s ease-in-out;
}

.banner-image img {
    width: 100%;
    height: 550px;
    object-fit: contain;
}

.iam h2 {
    font-size: 28px;
}

.Type-text {
    color: var(--red-color);
    font-size: 28px;
}

.animated-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}

.typed-cursor {
    display: none;
}

.highlight-heading {
    color: var(--red-color);
}

.custom-buttons button:hover {
    opacity: 75%;
    transition: all 0.3s ease-in-out;
}

/* <------------------------ Banner Section End------------------------> */

/* <------------------------ About Section Start ------------------------>  */
.About-details h2 {
    font-size: 42px;
    margin-bottom: 22px;
}

.About-details p {
    font-size: 18px;
    margin: 22px 0px 22px 0px;
}

.about-image img {
    width: 100%;
}

/* <------------------------ About Section End ------------------------>  */


/* <------------------------ Personal Details Section Start ------------------------>  */


.personal-details ul {
    line-height: 2.5;
}

.about-image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* <------------------------ Personal Details Section End ------------------------>  */


/* <------------------------ Project Section Start ------------------------> */
.project-heading {
    font-size: 42px;
    margin-bottom: 22px;
}

.project-images img {
    width: 100%;
}

/* <------------------------ Project Section Start ------------------------> */

/* <------------------------ Skills Section Start ------------------------> */
.Skills h2 {
    font-size: 42px;
    margin-bottom: 22px;
}

.skill-images img {
    width: 100%;
    height: 250px;
    object-fit: revert;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(20, 20, 19, 0.804);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.item {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}

.item:hover .overlay {
    bottom: 0;
    height: 100%;
    width: 100%;
}


.bottom-overlay {
    top: 100%;
}

.item:hover .bottom-overlay {
    top: 0;
}

.text {
    color: var(--red-color);
    font-size: 22px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* <------------------------ Skills Section End ------------------------> */

/* <------------------------ Contact Section Start ------------------------> */
.contact-heading h2 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 22px;
}

.social-icon {
    background: var(--red-color);
    text-align: center;
    padding: 8px 12px;
    border-radius: 50%;
    height: 46px;
    color: var(--color-white);
    transition: all 0.3s ease-in-out;
}

.contact-details ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    margin-top: 22px;
}

.contact-form {
    margin-top: 22px;
}

.social-icon {
    font-size: 22px;
    width: 46px;
}

.social-icon:hover {
    background: transparent;
    border: 1px solid var(--red-color);
    transition: all 0.3s ease-in-out;
    color: var(--red-color);
}

.contact-details {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 12px 24px;
    border-radius: 14px;
    margin-top: 22px;
    background-color: var(--color-white);
}

.contact-form {
    margin-top: 22px;
    box-shadow: rgba(150, 144, 144, 0.15) 0px 2px 8px;
    padding: 32px 32px;
    background-color: var(--color-white);
    border-radius: 14px;
}

.all-filled input {
    border-radius: 4px;
}

.all-filled textarea {
    border-radius: 4px;
}

.all-filled input:focus {
    box-shadow: none;
}

.all-filled textarea:focus {
    box-shadow: none;
}

.my-location iframe {
    width: 100%;
    border-radius: 14px;
    height: 270px;
    margin-bottom: 16px;
}

.contact-text {
    color: var(--red-color);
}

/* <------------------------ Contact Section Start ------------------------>  */

/* <------------------------ Footer Section Start ------------------------>  */

.main-footer {
    padding: 42px;
    text-align: center;
    background-color: black;
    color: var(--red-color);
}

.social-account {
    background: var(--color-white);
    position: fixed;
    width: 7%;
    border-radius: 8px;
    top: 300px;
    right: 0;
    padding: 12px 24px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.social-account ul li a {
    background-color: var(--bg-color);
    line-height: 3;
    padding: 12px 12px;
    border-radius: 50%;
    color: var(--color-white);
    transition: all 0.5s ease-in-out;
}

.social-account ul li a:hover {
    background-color: transparent;
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
    transition: all 0.5s ease-in-out;
}

.navbar-toggler-icon {
    display: math;
}

/* <------------------------ Footer Section Start ------------------------>  */